.business-package-section {
  padding: 40px 0;
  background-color: #f0f5f9;
}

.stunning-heading {
  font-size: 3rem;
  font-weight: 700;
  color: #2c3e50;
}

.subheading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 40px;
}

.business-package-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  
}

.business-package-form .form-input {
  border-radius: 4px;
  padding: 12px;
}

.submit-button {
  padding: 12px;
  font-size: 1rem;
  border-radius: 4px;
}
.pp {
  text-align: justify;
}


@media (max-width: 768px) {
  .stunning-heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1.2rem;
  }

}

